

.body{
    background-color: var(--background-grey);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formWrapper{
    background-color: var(--background-color-light-grey);
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 13px;
   
}

.content{
    padding: 40px 0px 20px 0px;
}