* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root{
  --background-color-light-grey: #FBFDFF;
  --background-grey: #F5F5F5;;
  --text-black: #000;
  --text-blue: #2B8DFF;
  --text-white: #fff;
  --font-app: 'Red Hat Text', sans-serif
}

body {
  font-family: 'Raleway', sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(12, auto);
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
}

.cards {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-gap: 20px;
}

.card {
  grid-column-end: span 6;
  display: flex;
  flex-direction: column;
  /* background-color: #39393b; */
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
}


@media only screen and (min-width: 1024px) {
  .card {
    grid-column-end: span 3;
  }
}

@media only screen and (max-width: 820) {


  .card {
    grid-column-end: span 6 !important;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }

  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
  }

  .cards {
    grid-column: 1 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }

  .card {
    grid-column-end: span 6;
  }
}

.card___image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: bottom center;
}

.card___timer {
  color: #9c8d8d;
  margin: 10px 0;
}

.card___summary {
  color: #413f3f
}

.card___title {
  margin-bottom: 10px;

}

.card___image___wrapper{
  width: 100%;
   height: 180px;
   position: relative
}

.title{
  color: var(--text-black);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  font-family: var(--font-app)
}

.button{
  display: inline-block;
  width: 100%;
  background-color: var(--text-white);
  padding: 12px;
  color: var(--text-black);
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  margin-bottom: 24px;
  cursor: pointer;
  font-family: var(--font-app);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button___icon{
  padding-right: 12px;
}

.form___input{
  background: #FFFFFF;
    /* Borders / Border 10 */
  
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    font-family: var(--font-app);
    outline: none;
    padding: 14px 14px;
    display: inline-block;
    width: 100%;
}
.form__field{
  width: calc(100% - 30px);
  margin-bottom: 20px;
}

.button_field{
  margin-bottom: 40px;
}

.form-input-error{
  color: red;
  font-size: 12px;
  font-family: var(--font-app);
  font-weight: 400;
}
.button___dark{
  background-color: var(--text-black) !important;
  color: var(--text-white) !important;
  border: 1px solid var(--text-black)
}

footer{
  font-family: var(--font-app);
  text-align: center;
  margin: 20px;
  font-weight: 400;
}

footer a{
  color: var(--text-blue);
}

.logout-button-wrapper{
  width: 200px;
}

nav{
  display: flex;
  justify-content: flex-end;
  padding: 20px 16px;
}