* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Raleway', sans-serif;
}

main {
    display: grid;
    grid-template-columns: repeat(12, auto);
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
}

.cards {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-gap: 20px;
}

.card {
    grid-column-end: span 6;
    display: flex;
    flex-direction: column;
    /* background-color: #39393b; */
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.card:hover {
    transform: translateY(-7px);
}


@media screen and (min-width: 1024px) {
    .card {
        grid-column-end: span 3;
    }
}

@media screen and (max-width: 820) {


    .card {
        grid-column-end: span 6 !important;
    }
}

@media screen and (max-width: 700px) {
    main {
        grid-gap: 20px;
    }

    .card {
        grid-column-end: span 12;
    }
}

@media screen and (max-width: 500px) {
    main {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
    }

    .cards {
        grid-column: 1 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }

    .card {
        grid-column-end: span 6;
    }
}

.card___image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom center;
}

.card___timer {
    color: #9c8d8d;
    margin: 10px 0;
}

.card___summary {
    color: #413f3f
}

.card___title {
    margin-bottom: 10px;

}